




#header-nav{
    background-color: deepskyblue;
    
}

.navbar-default .navbar-brand {
    color:white;
    font-size: 1.5em;
   
}

#collapsable-nav {
    background-color:fuchsia;   
    
}


    
    
#nav-list{
    text-align:center;
    font-size: 1.5 em;
    text-transform: uppercase;
    font-weight:bold;
    color: white;

}

section {
    background-color: lightgrey;
    height:1000px;
}

h2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 767px){
    #collapsable-nav {
  visibility:hidden;
    }}
